<template>
  <div class="container">
    <header class="jumbotron">
      <h3>Admin page</h3>
    </header>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class BoardAdmin extends Vue {}
</script>
