<template>
  <v-container>
    <v-row justify="center">
      <v-col lg="3" md="2" sm="12"></v-col>
      <v-col lg="6" md="8" sm="12" cols="12">
        <v-card ref="form">
          <v-card-text>
            <v-card-title class="d-block text-center"
              >Edit Profile</v-card-title
            >
            <ValidationObserver
              ref="observer"
              v-if="!updatePassword"
              v-slot="{ invalid }"
            >
              <v-form @submit.prevent="handleUpdateUser" class="text-center">
                <ValidationProvider
                  rules="required"
                  name="Username"
                  v-slot="{ errors }"
                >
                  <v-text-field
                    v-model="currentUser().username"
                    :error-messages="errors"
                    label="Username"
                    required
                  ></v-text-field>
                </ValidationProvider>

                <ValidationProvider
                  rules="required|email"
                  name="Email"
                  v-slot="{ errors }"
                >
                  <v-text-field
                    v-model="currentUser().email"
                    :error-messages="errors"
                    type="email"
                    label="Email"
                    required
                  ></v-text-field>
                </ValidationProvider>

                <v-btn type="submit" :disabled="invalid">
                  Save
                </v-btn>
              </v-form>
            </ValidationObserver>
            <ValidationObserver ref="observer" v-else v-slot="{ invalid }">
              <v-form
                @submit.prevent="handleUpdatePassword"
                class="text-center"
              >
                <ValidationProvider
                  rules="required"
                  name="Password"
                  vid="password"
                  v-slot="{ errors }"
                >
                  <v-text-field
                    v-model="password"
                    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="showPassword ? 'text' : 'password'"
                    :error-messages="errors"
                    name="input-10-1"
                    label="Password"
                    hint="At least 8 characters + add full rule"
                    @click:append="showPassword = !showPassword"
                  ></v-text-field>
                </ValidationProvider>

                <ValidationProvider
                  rules="required|confirmed:password"
                  name="Password confirmation"
                  v-slot="{ errors }"
                >
                  <v-text-field
                    v-model="confirmation"
                    :append-icon="
                      showPasswordConfirm ? 'mdi-eye' : 'mdi-eye-off'
                    "
                    :type="showPasswordConfirm ? 'text' : 'password'"
                    :error-messages="errors"
                    name="input-10-1"
                    label="Confirm Password"
                    hint="At least 8 characters + add full rule"
                    @click:append="showPasswordConfirm = !showPasswordConfirm"
                  ></v-text-field>
                </ValidationProvider>
                <v-btn type="submit" :disabled="invalid">
                  Save
                </v-btn>
              </v-form>
            </ValidationObserver>
          </v-card-text>

          <v-row class="text-center">
            <v-col cols="3"></v-col>
            <v-col cols="12">
              <v-btn @click="togglePassword" class="mr-4">
                {{ updatePassword ? "Update profile" : "Update password" }}
              </v-btn>
              <v-btn @click="showModal">
                Delete my account
              </v-btn>
            </v-col>
            <v-col cols="3"></v-col>
          </v-row>
        </v-card>
      </v-col>
      <v-col col lg="3" md="2" sm="12"></v-col>
    </v-row>
    <Confirmation ref="confirm"></Confirmation>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import UserService from "@/services/user.service";
import AuthService from "@/services/auth.service";
import { ValidationObserver, ValidationProvider } from "vee-validate";
import Confirmation from "@/vues/Utils/Confirmation.vue";

@Component({
  components: {
    ValidationObserver,
    ValidationProvider,
    Confirmation
  }
})
export default class Profile extends Vue {
  loading = false;
  updatePassword = false;
  user = {};
  password = "";
  confirmation = "";
  showPassword = false;
  showPasswordConfirm = false;

  mounted() {
    if (!this.currentUser) {
      this.$router.push("/login");
    }
    this.user = this.currentUser();
  }

  currentUser() {
    return this.$store.state.auth.user;
  }

  togglePassword() {
    if (this.updatePassword) this.updatePassword = false;
    else this.updatePassword = true;
  }

  handleUpdateUser() {
    this.loading = true;
    UserService.update(this.currentUser().id, this.user)
      .then(
        (response: any) => {
          this.$toast.success(response.data.message);
        },
        (error: any) => {
          const message =
            (error.response && error.response.data.message) ||
            error.message ||
            error.toString();

          this.$toast.error(message);
        }
      )
      .finally(() => {
        this.loading = false;
      });
  }

  handleUpdatePassword() {
    this.loading = true;
    AuthService.updatePassword(
      this.currentUser().id,
      this.password,
      this.confirmation
    )
      .then(
        (response: any) => {
          this.$toast.success(response.data.message);
          this.$router.push("applications");
        },
        (error: any) => {
          const message =
            (error.response && error.response.data.message) ||
            error.message ||
            error.toString();
          this.$toast.error(message);
        }
      )
      .finally(() => {
        this.loading = false;
      });
  }

  showModal() {
    (this.$refs["confirm"] as any)
      .open(
        "Please Confirm",
        "Are you sure you want to delete your account ?",
        { color: "red" }
      )
      .then(confirm => {
        if (confirm) this.deleteUser();
      })
      .catch(err => {
        console.log("err", err);
      });
  }

  deleteUser() {
    this.loading = true;
    UserService.delete(this.currentUser().id)
      .then(
        (response: any) => {
          this.$toast.success(response.data.message);
          this.$store.dispatch("auth/logout");
          this.$router.push("login");
        },
        (error: any) => {
          const message =
            (error.response && error.response.data.message) ||
            error.message ||
            error.toString();
          this.$toast.error(message);
        }
      )
      .finally(() => {
        this.loading = false;
      });
  }
}
</script>
