<template>
  <v-container>
    <v-row justify="center">
      <v-col lg="3" md="2" sm="12"></v-col>
      <v-col lg="6" md="8" sm="12" cols="12">
        <v-card ref="form">
          <v-card-text>
            <v-card-title class="d-block text-center">Sign Up</v-card-title>
            <ValidationObserver ref="observer" v-slot="{ invalid }">
              <v-form @submit.prevent="handleRegister" class="text-center">
                <ValidationProvider
                  rules="required|min:3"
                  name="Username"
                  v-slot="{ errors }"
                >
                  <v-text-field
                    v-model="user.username"
                    :error-messages="errors"
                    label="Username"
                    required
                  ></v-text-field>
                </ValidationProvider>

                <ValidationProvider
                  rules="required|email"
                  name="Email"
                  v-slot="{ errors }"
                >
                  <v-text-field
                    v-model="user.email"
                    :error-messages="errors"
                    type="email"
                    label="Email"
                    required
                  ></v-text-field>
                </ValidationProvider>

                <ValidationProvider
                  rules="required"
                  name="Password"
                  vid="password"
                  v-slot="{ errors }"
                >
                  <v-text-field
                    v-model="user.password"
                    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="showPassword ? 'text' : 'password'"
                    :error-messages="errors"
                    name="input-10-1"
                    label="Password"
                    hint="At least 8 characters + add full rule"
                    @click:append="showPassword = !showPassword"
                  ></v-text-field>
                </ValidationProvider>

                <ValidationProvider
                  rules="required|confirmed:password"
                  name="Password confirmation"
                  v-slot="{ errors }"
                >
                  <v-text-field
                    v-model="confirmation"
                    :append-icon="
                      showPasswordConfirm ? 'mdi-eye' : 'mdi-eye-off'
                    "
                    :type="showPasswordConfirm ? 'text' : 'password'"
                    :error-messages="errors"
                    name="input-10-1"
                    label="Confirm Password"
                    hint="At least 8 characters + add full rule"
                    @click:append="showPasswordConfirm = !showPasswordConfirm"
                  ></v-text-field>
                </ValidationProvider>

                <ValidationProvider
                  :rules="{ required: { allowFalse: false } }"
                  name="termsAndConditions"
                  v-slot="{ errors }"
                >
                  <v-checkbox
                    v-model="conditions"
                    :label="`I accept the terms and use`"
                    :error-messages="errors"
                  ></v-checkbox>
                </ValidationProvider>

                <v-btn type="submit" :disabled="invalid">
                  Create your account
                </v-btn>
              </v-form>
            </ValidationObserver>
          </v-card-text>
          <v-card-text class="text-center">
            <div>
              <a @click="dialogConditions = true">
                Terms and use
              </a>
            </div>
            <div>
              <router-link to="/login">Already has an account ?</router-link>
            </div>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col col lg="3" md="2" sm="12"></v-col>
    </v-row>
    <v-dialog v-model="dialogConditions" width="800">
      <v-card justify="left">
        <v-card-title class="headline grey lighten-2 d-block text-center">
          Privacy Policy
        </v-card-title>
        <Conditions></Conditions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import UserModel from "@/models/user";
import { ValidationObserver, ValidationProvider } from "vee-validate";
import Conditions from "../Utils/Conditions.vue";

@Component({
  components: {
    ValidationObserver,
    ValidationProvider,
    Conditions
  }
})
export default class Register extends Vue {
  user = new UserModel("", "", "");
  loading = false;
  confirmation = "";
  conditions = false;
  showPassword = false;
  showPasswordConfirm = false;
  dialogConditions = false;

  mounted() {
    if (this.loggedIn()) {
      this.$router.push("/applications");
    }
  }

  loggedIn() {
    return this.$store.state.auth.status.loggedIn;
  }

  handleRegister() {
    this.loading = true;
    const data = {
      user: this.user,
      confirmation: this.confirmation
    };
    this.$store
      .dispatch("auth/register", data)
      .then(
        data => {
          this.$toast.success(data.message);
          this.$router.push("login");
        },
        error => {
          const message =
            (error.response &&
              error.response.data &&
              error.response.data.message) ||
            error.message ||
            error.toString();
          this.$toast.error(message);
        }
      )
      .finally(() => {
        this.loading = false;
      });
  }
}
</script>
