<template>
  <v-container>
    <br />
    <br />
    <h1>Job Application Management</h1>
    <br />
    <img src="@/assets/images/logo.png" alt="logo" style="margin-top:50px;" />
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Home extends Vue {}
</script>
