<template>
  <v-container fluid>
    <v-container>
      <v-card ref="form">
        <v-card-text>
          <v-card-title class="d-block text-center"
            >Looking for an application ?</v-card-title
          >
          <v-row>
            <v-col cols="8" class="ml-auto mr-auto">
              <v-combobox
                v-model="filter"
                chips
                clearable
                label="Recherche par mots clés"
                multiple
                append-icon=""
              >
              </v-combobox>
            </v-col>
          </v-row>
          <v-row v-if="statusList" class="text-center">
            <v-col v-for="status in statusList" :key="status.id" md="4">
              <v-btn @click="setFilterStatus(status.id)">
                {{ status.name }}
              </v-btn>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="4" class="ml-auto mr-auto text-center">
              <a
                id="show-btn"
                class="btn btn-block ml-4 mr-4"
                variant="primary"
                @click="dialogQuickApplication = true"
              >
                Quick add
              </a>
              <router-link
                :to="{ name: 'application', params: { id: 0 } }"
                tag="button"
                class="btn btn-secondary btn-block btn-new ml-4 mr-4"
              >
                New application
              </router-link>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-container>
    <v-container class="cards-container" fluid>
      <v-card v-if="apps">
        <v-data-table :headers="fields" :items="filterData()">
          <template v-slot:[`item._id`]="{ item }">
            <router-link
              :to="{ name: 'application', params: { id: item._id } }"
              tag="button"
              class="btn btn-sm btn-light"
            >
              <font-awesome-icon icon="external-link-alt" />
            </router-link>
          </template>

          <template v-slot:[`item.companyName`]="{ item }">
            <span v-if="!item.editing">
              <span v-if="item.website">
                <a :href="createLink(item.website)" target="_blank">
                  {{ item.companyName }}
                </a>
              </span>
              <span v-else>{{ item.companyName }}</span>
            </span>
            <v-text-field v-else v-model="item.companyName"></v-text-field>
          </template>

          <template v-slot:[`item.job`]="{ item }">
            <span v-if="!item.editing">
              {{ item.job }}
            </span>
            <v-text-field v-else v-model="item.job"></v-text-field>
          </template>

          <template v-slot:[`item.location`]="{ item }">
            <span v-if="!item.editing">
              {{ item.location }}
            </span>
            <v-text-field v-else v-model="item.location"></v-text-field>
          </template>

          <template v-slot:[`item.statusItem`]="{ item }">
            <span v-if="!item.editing">
              {{ item.statusItem }}
            </span>
            <v-select
              v-else
              v-model="item.status"
              :items="statusSelect"
            ></v-select>
          </template>

          <template v-slot:[`item.editing`]="{ item }">
            <v-icon
              small
              class="mr-2"
              v-if="!item.editing"
              @click.prevent="editApp(item)"
            >
              mdi-pencil
            </v-icon>
            <v-icon
              small
              class="mr-2"
              v-if="item.editing"
              @click.prevent="update(item)"
            >
              mdi-content-save
            </v-icon>
            <v-icon
              small
              class="mr-2"
              v-if="item.editing"
              @click.prevent="editApp(item)"
            >
              mdi-cancel
            </v-icon>
            <v-icon small v-if="!item.editing" @click="modalDelete(item)">
              mdi-delete
            </v-icon>
          </template>
        </v-data-table>

        <div v-if="!filterData().length" class="text-center mt-4">
          <h4>Sorry, no data found !</h4>
        </div>
      </v-card>
    </v-container>
    <v-dialog v-model="dialogQuickApplication" width="800">
      <v-card justify="left">
        <v-card-text>
          <v-card-title class="headline grey lighten-2 d-block text-center">
            Create application
          </v-card-title>
          <ValidationObserver ref="observer" v-slot="{ invalid }">
            <v-form @submit.prevent="handleCreate" class="text-center">
              <ValidationProvider
                rules="required"
                name="Company"
                v-slot="{ errors }"
              >
                <v-text-field
                  v-model="app.companyName"
                  :error-messages="errors"
                  label="Company *"
                  required
                ></v-text-field>
              </ValidationProvider>

              <v-text-field
                v-model="app.website"
                label="Website"
              ></v-text-field>

              <v-text-field
                v-model="app.location"
                label="Location"
              ></v-text-field>

              <ValidationProvider
                rules="required"
                name="Status"
                v-slot="{ errors }"
              >
                <v-select
                  v-model="app.status"
                  :error-messages="errors"
                  :items="statusSelect"
                  label="Status *"
                ></v-select>
              </ValidationProvider>

              <v-text-field v-model="app.job" label="Job"></v-text-field>

              <v-row class="text-center">
                <v-col cols="3"></v-col>
                <v-col lg="3" sm="12">
                  <v-btn
                    v-on:click="dialogQuickApplication = false"
                    variant="danger"
                  >
                    Cancel
                  </v-btn>
                </v-col>
                <v-col lg="3" sm="12">
                  <v-btn type="submit" :disabled="invalid">
                    Save
                  </v-btn>
                </v-col>
                <v-col cols="3"></v-col>
              </v-row>
            </v-form>
          </ValidationObserver>
        </v-card-text>
      </v-card>
    </v-dialog>
    <Confirmation ref="confirm"></Confirmation>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import ApplicationService from "@/services/application.service";
import StatusService from "@/services/status.service";
import ApplicationModel from "@/models/application";
import StatusModel from "@/models/status";
import Confirmation from "@/vues/Utils/Confirmation.vue";
import { ValidationObserver, ValidationProvider } from "vee-validate";

@Component({
  components: {
    ValidationObserver,
    ValidationProvider,
    Confirmation
  }
})
export default class Applications extends Vue {
  loading = false;
  ready = false;
  apps: Array<ApplicationModel> = [];
  statusList: Array<StatusModel> = [];
  statusSelect = Array({ value: null, text: "Please select an option" });
  numberByStatus = [];
  filterStatus = "";
  filter = [];
  app = ApplicationModel.createEmptyApplication();
  dialogQuickApplication = false;

  fields = [
    {
      text: "",
      value: "_id"
    },
    {
      text: "Company",
      value: "companyName"
    },
    {
      text: "Job",
      value: "job"
    },
    {
      text: "Location",
      value: "location"
    },
    {
      text: "Status",
      value: "statusItem"
    },
    {
      text: "Edit",
      value: "editing",
      thClass: "edit-column",
      tdClass: "edit-column"
    }
  ];

  mounted() {
    if (!this.currentUser) {
      this.$router.push("/login");
    }

    this.fetchData();
  }

  currentUser() {
    return this.$store.state.auth.user;
  }

  setFilterStatus(filterStatus: string) {
    if (filterStatus === this.filterStatus) {
      this.filterStatus = "";
      return;
    }
    this.filterStatus = filterStatus;
  }

  statusVariant(status: string) {
    let className = "";
    switch (status.toLowerCase()) {
      case "to do":
        className = "todo";
        break;
      case "application sent":
        className = "appSent";
        break;
      case "interview set":
        className = "intSet";
        break;
      case "offer received":
        className = "received";
        break;
      case "refused":
        className = "refused";
        break;
    }
    return className;
  }

  fetchApplications() {
    ApplicationService.getAll(this.currentUser().id).then(
      (response: any) => {
        if (response.data) this.apps = [];
        response.data.forEach(element => {
          this.apps.push(new ApplicationModel(element));
        });

        this.countByStatus();
        this.ready = true;
      },
      (error: any) => {
        const message =
          (error.response && error.response.data) ||
          error.message ||
          error.toString();
		  this.$toast.error(message);
      }
    );
  }

  fetchStatus() {
    StatusService.get().then(
      (response: any) => {
        if (response.data) {
          response.data.forEach((element: any) => {
            this.statusSelect.push({ value: element._id, text: element.name });
            this.statusList.push(new StatusModel(element));
          });
          this.countByStatus();
        }
      },
      (error: any) => {
        const message =
          (error.response && error.response.data) ||
          error.message ||
          error.toString();
		  this.$toast.error(message);
      }
    );
  }

  fetchData() {
    this.fetchApplications();
    this.fetchStatus();
  }

  editApp(data: any) {
    if (data.editing) data.editing = false;
    else data.editing = true;
  }

  dataCount() {
    if (!this.apps.length || !this.filterData().length) return 0;

    if (this.filterStatus) return this.filterData().length;

    return this.filterData().length;
  }

  countByStatus() {
    this.statusList.forEach(element => {
      element.count = this.apps.filter(elt => elt.status == element.id).length;
    });
  }

  filterData() {
    let data: Array<ApplicationModel> = [];
    if (this.filter.length) {
      this.filter.forEach((filter: string) => {
        const temp = this.apps.filter(
          elt =>
            elt.companyName.toLowerCase().includes(filter.toLowerCase()) ||
            elt.location.toLowerCase().includes(filter.toLowerCase()) ||
            elt.job.toLowerCase().includes(filter.toLowerCase()) ||
            elt.website.toLowerCase().includes(filter.toLowerCase()) ||
            elt.notes.toLowerCase().includes(filter.toLowerCase()) ||
            elt.statusItem.toLowerCase().includes(filter.toLowerCase())
        );

        if (temp)
          temp.forEach(element => {
            if (data.indexOf(element) === -1) data.push(element);
          });
      });
    }

    if (!data.length && !this.filter.length) data = this.apps;

    if (this.filterStatus) {
      data = data.filter(elt => elt.status === this.filterStatus);
    }

    return data;
  }

  redirectToApp(appId: string) {
    this.$router.push({ name: "application", params: { id: appId } });
  }

  update(data) {
    ApplicationService.update(data._id, data).then(
      (response: any) => {
		this.$toast.success(response.data.message);
        let newStatus = new StatusModel({ id: "", name: "" });
        this.statusList.forEach(element => {
          if (element.id === data.status) newStatus = element;
        });
        data.statusItem = newStatus.name;
        data.editing = false;
        this.countByStatus();
      },
      (error: any) => {
        const message =
          (error.response && error.response.data) ||
          error.message ||
          error.toString();

		  this.$toast.error(message);
      }
    );
  }

  modalDelete(data) {
    (this.$refs["confirm"] as any)
      .open("Delete", "Are you sure?", { color: "red" })
      .then(confirm => {
        if (confirm) this.deleteApplication(data);
      })
      .catch(err => {
        console.log("err", err);
      });
  }

  deleteApplication(data) {
    this.loading = true;
    ApplicationService.delete(data._id, this.currentUser().id)
      .then(
        (response: any) => {
		  this.$toast.success(response.data.message);
          const index = this.apps.indexOf(data, 0);
          if (index > -1) this.apps.splice(index, 1);
          this.countByStatus();
          this.fetchApplications();
        },
        (error: any) => {
          const message =
            (error.response &&
              error.response.data &&
              error.response.data.message) ||
            error.message ||
            error.toString();
		  this.$toast.error(message);
        }
      )
      .finally(() => {
        this.loading = false;
      });
  }

  handleCreate() {
    this.loading = true;
    ApplicationService.save(this.currentUser().id, this.app)
      .then(
        (response: any) => {
		  this.$toast.success(response.data.message);
          this.app = ApplicationModel.createEmptyApplication();
          this.fetchApplications();
        },
        (error: any) => {
          const message =
            (error.response &&
              error.response.data &&
              error.response.data.message) ||
            error.message ||
            error.toString();

		  this.$toast.error(message);
          this.loading = false;
        }
      )
      .finally(() => {
        this.dialogQuickApplication = false;
        this.loading = false;
      });
  }

  createLink(url: string) {
    let prefix = "";
    if (!/^https?:\/\//.test(url)) {
      prefix += "https://";
    }
    return prefix + url;
  }
}
</script>
