<template>
  <v-container>
    <v-card ref="form">
      <v-card-text>
        <v-card-title class="d-block text-center">
          {{ app._id ? app.companyName : "New application" }}
        </v-card-title>
        <ValidationObserver ref="observer" v-slot="{ invalid }">
          <v-form @submit.prevent="handleAction" class="text-center">
            <ValidationProvider
              rules="required"
              name="Company"
              v-slot="{ errors }"
            >
              <v-text-field
                v-model="app.companyName"
                :error-messages="errors"
                label="Company name"
                required
              ></v-text-field>
            </ValidationProvider>

            <v-text-field
              v-model="app.location"
              label="Location"
            ></v-text-field>

            <ValidationProvider
              rules="required"
              name="Status"
              v-slot="{ errors }"
            >
              <v-select
                v-model="app.status"
                :error-messages="errors"
                :items="statusSelect"
                required
                label="Status"
              ></v-select>
            </ValidationProvider>

            <v-text-field v-model="app.job" label="Job"></v-text-field>

            <v-text-field
              v-model="app.jobDescription"
              label="Job Description"
            ></v-text-field>

            <v-text-field v-model="app.website" label="Website"></v-text-field>

            <v-text-field v-model="app.notes" label="Notes"></v-text-field>

            <v-btn type="submit" :disabled="invalid">
              Save
            </v-btn>
          </v-form>
        </ValidationObserver>
      </v-card-text>
      <v-card-text class="text-center">
        <v-btn @click="modalDelete()">
          Delete
        </v-btn>
      </v-card-text>
    </v-card>
    <Confirmation ref="confirm"></Confirmation>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import ApplicationService from "@/services/application.service";
import StatusService from "@/services/status.service";
import ApplicationModel from "@/models/application";
import ContactModel from "@/models/contact";
import Confirmation from "@/vues/Utils/Confirmation.vue";
import { ValidationObserver, ValidationProvider } from "vee-validate";

@Component({
  components: {
    ValidationObserver,
    ValidationProvider,
    Confirmation
  }
})
export default class Application extends Vue {
  loading = false;
  app = ApplicationModel.createEmptyApplication();
  statusSelect = Array({ value: null, text: "Please select an option" });
  newModel = false;

  mounted() {
    if (!this.currentUser) {
      this.$router.push("/login");
    }

    if (this.$route.params.id == "0") this.newModel = true;

    if (!this.newModel) this.fetchApplication();
    this.fetchStatus();
    this.loading = false;
  }

  currentUser() {
    return this.$store.state.auth.user;
  }

  save() {
    this.loading = true;
    ApplicationService.save(this.currentUser().id, this.app).then(
      (response: any) => {
        this.$toast.success(response.data.message);
        this.loading = false;
      },
      (error: any) => {
        const message =
          (error.response && error.response.data) ||
          error.message ||
          error.toString();
        this.$toast.error(message);
        this.loading = false;
      }
    );
  }

  update() {
    this.loading = true;
    ApplicationService.update(this.app._id, this.app).then(
      (response: any) => {
        this.$toast.success(response.data.message);
        this.loading = false;
      },
      (error: any) => {
        const message =
          (error.response && error.response.data) ||
          error.message ||
          error.toString();
        this.$toast.error(message);
        this.loading = false;
      }
    );
  }

  modalDelete() {
    (this.$refs["confirm"] as any)
      .open(
        "Please Confirm",
        "Are you sure you want to delete this application ?",
        { color: "red" }
      )
      .then(confirm => {
        if (confirm) this.deleteApplication();
      })
      .catch(err => {
        console.log("err", err);
      });
  }
  deleteApplication() {
    this.loading = true;
    ApplicationService.delete(this.app._id, this.currentUser().id)
      .then(
        (response: any) => {
          this.$toast.success(response.data.message);
          this.$router.push("/applications");
        },
        (error: any) => {
          const message =
            (error.response && error.response.data) ||
            error.message ||
            error.toString();
          this.$toast.error(message);
        }
      )
      .finally(() => {
        this.loading = false;
      });
  }

  addContact() {
    if (!this.app.contacts) this.app.contacts = new Array<ContactModel>();
    this.app.contacts.push(new ContactModel({ name: "", job: "", email: "" }));
  }

  removeContact(contact: any) {
    let index = -1;
    this.app.contacts.every((element, i) => {
      if (element === contact) {
        index = i;
        return false;
      }
      return true;
    });
    if (index != -1) this.app.contacts.splice(index, 1);
  }

  fetchApplication() {
    this.loading = true;
    ApplicationService.get(this.currentUser().id, this.$route.params.id).then(
      (response: any) => {
        this.app = new ApplicationModel(response.data);
        this.loading = false;
      },
      (error: any) => {
        const message =
          (error.response && error.response.data) ||
          error.message ||
          error.toString();
        this.$toast.error(message);
        this.loading = false;
      }
    );
  }

  fetchStatus() {
    this.loading = true;
    StatusService.get().then(
      (response: any) => {
        if (response.data) {
          response.data.forEach((element: any) => {
            this.statusSelect.push({ value: element._id, text: element.name });
          });
        }
        this.loading = false;
      },
      (error: any) => {
        const message =
          (error.response && error.response.data) ||
          error.message ||
          error.toString();
        this.$toast.error(message);
        this.loading = false;
      }
    );
  }

  handleAction() {
    if (this.newModel) this.save();
    else this.update();
  }
}
</script>
