<template>
  <div>
    <p>ERROR 403</p>
    <p>Unauthorized</p>
    <router-link to="/applications" class="nav-link brand">
      HOME
    </router-link>
  </div>
</template>

<script lanspan="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Error403 extends Vue {}
</script>
