<template>
  <v-container fluid>
    <div id="notfound">
      <div class="notfound">
        <div class="notfound-404">
          <h1>404</h1>
        </div>
        <h2>Oops! Nothing was found</h2>
        <p>
          The page you are looking for might have been removed had its name
          changed or is temporarily unavailable.
          <v-link to="/applications">
            Return to homepage
          </v-link>
        </p>
      </div>
    </div>
    <!-- This templates was made by Colorlib (https://colorlib.com) -->
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Error404 extends Vue {}
</script>
