<template>
  <v-container>
    <v-row justify="center">
      <v-col lg="3" md="2" sm="12"></v-col>
      <v-col lg="6" md="8" sm="12" cols="12">
        <v-card ref="form">
          <v-card-text>
            <v-card-title class="d-block text-center"
              >Forgot your password ?</v-card-title
            >
            <ValidationObserver ref="observer" v-slot="{ invalid }">
              <v-form @submit.prevent="sendResetLink" class="text-center">
                <ValidationProvider
                  rules="required|email"
                  name="Email"
                  v-slot="{ errors }"
                >
                  <v-text-field
                    v-model="email"
                    :error-messages="errors"
                    type="email"
                    label="Email"
                    required
                  ></v-text-field>
                </ValidationProvider>

                <v-btn type="submit" :disabled="invalid">
                  Reset Password
                </v-btn>
              </v-form>
            </ValidationObserver>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col col lg="3" md="2" sm="12"></v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import AuthService from "@/services/auth.service";
import { ValidationObserver, ValidationProvider } from "vee-validate";

@Component({
  components: {
    ValidationObserver,
    ValidationProvider
  }
})
export default class ForgotPassword extends Vue {
  email = "";
  loading = false;

  sendResetLink() {
    this.loading = true;
    AuthService.forgotPassword(this.email)
      .then(
        (response: any) => {
          this.$toast.success(response.data.message);
        },
        (error: any) => {
          const message =
            (error.response && error.response.data.message) ||
            error.message ||
            error.toString();
          this.$toast.error(message);
        }
      )
      .finally(() => {
        this.loading = false;
      });
  }
}
</script>
