<template>
  <v-container>
    <v-row justify="center">
      <v-col lg="3" md="2" sm="12"></v-col>
      <v-col lg="6" md="8" sm="12" cols="12">
        <v-card ref="form">
          <v-card-text>
            <v-card-title class="d-block text-center">Login</v-card-title>
            <ValidationObserver ref="observer" v-slot="{ invalid }">
              <v-form @submit.prevent="handleLogin" class="text-center">
                <ValidationProvider
                  rules="required"
                  name="Username"
                  v-slot="{ errors }"
                >
                  <v-text-field
                    v-model="user.username"
                    :error-messages="errors"
                    label="Username"
                    required
                  ></v-text-field>
                </ValidationProvider>

                <ValidationProvider
                  rules="required"
                  name="Password"
                  v-slot="{ errors }"
                >
                  <v-text-field
                    v-model="user.password"
                    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="showPassword ? 'text' : 'password'"
                    :error-messages="errors"
                    name="input-10-1"
                    label="Password"
                    hint="At least 8 characters + add full rule"
                    @click:append="showPassword = !showPassword"
                  ></v-text-field>
                </ValidationProvider>

                <v-btn type="submit" :disabled="invalid">
                  Login
                </v-btn>
              </v-form>
            </ValidationObserver>
          </v-card-text>
          <v-card-text class="text-center">
            <router-link to="/forgot-password">Forgot password ?</router-link>
            <span> | </span>
            <router-link to="/register">No account ?</router-link>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col col lg="3" md="2" sm="12"></v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import UserModel from "@/models/user";
import { ValidationObserver, ValidationProvider } from "vee-validate";

@Component({
  components: {
    ValidationObserver,
    ValidationProvider
  }
})
export default class Login extends Vue {
  user = new UserModel("", "", "");
  loading = false;
  message = "";
  showPassword = false;

  created() {
    if (this.loggedIn() && localStorage.getItem("user")) {
      this.$router.push("/profile");
    }
  }

  loggedIn() {
    return this.$store.state.auth.status.loggedIn;
  }

  handleLogin() {
    if (!this.user.username || !this.user.password) {
      this.$toast.error("Please enter the missing fields");
      return;
    }

    this.loading = true;
    if (this.user.username && this.user.password) {
      this.$store.dispatch("auth/login", this.user).then(
        () => {
          this.$router.push("/applications");
        },
        error => {
          this.loading = false;
          const message =
            (error.response &&
              error.response.data &&
              error.response.data.message) ||
            error.message ||
            error.toString();
          this.$toast.error(message);
        }
      );
    }
  }
}
</script>
