<template>
  <v-container>
    <v-row justify="center">
      <v-col lg="3" md="2" sm="12"></v-col>
      <v-col lg="6" md="8" sm="12" cols="12">
        <v-card ref="form">
          <v-card-text>
            <v-card-title class="d-block text-center"
              >Reset Password</v-card-title
            >
            <ValidationObserver ref="observer" v-slot="{ invalid }">
              <v-form
                @submit.prevent="handleUpdatePassword"
                class="text-center"
              >
                <ValidationProvider
                  rules="required"
                  name="Password"
                  vid="password"
                  v-slot="{ errors }"
                >
                  <v-text-field
                    v-model="password"
                    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="showPassword ? 'text' : 'password'"
                    :error-messages="errors"
                    name="input-10-1"
                    label="Password"
                    hint="At least 8 characters + add full rule"
                    @click:append="showPassword = !showPassword"
                  ></v-text-field>
                </ValidationProvider>

                <ValidationProvider
                  rules="required|confirmed:password"
                  name="Password confirmation"
                  v-slot="{ errors }"
                >
                  <v-text-field
                    v-model="confirmation"
                    :append-icon="
                      showPasswordConfirm ? 'mdi-eye' : 'mdi-eye-off'
                    "
                    :type="showPasswordConfirm ? 'text' : 'password'"
                    :error-messages="errors"
                    name="input-10-1"
                    label="Confirm Password"
                    hint="At least 8 characters + add full rule"
                    @click:append="showPasswordConfirm = !showPasswordConfirm"
                  ></v-text-field>
                </ValidationProvider>

                <v-btn type="submit" :disabled="invalid">
                  Create your account
                </v-btn>
              </v-form>
            </ValidationObserver>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col col lg="3" md="2" sm="12"></v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import AuthService from "@/services/auth.service";
import { ValidationObserver, ValidationProvider } from "vee-validate";

@Component({
  components: {
    ValidationObserver,
    ValidationProvider
  }
})
export default class ResetPassword extends Vue {
  password = "";
  confirmation = "";
  loading = false;

  handleUpdatePassword() {
    this.loading = true;
    AuthService.reset(
      this.$route.params.token,
      this.password,
      this.confirmation
    )
      .then(
        (response: any) => {
          this.$router.push("/login", () => {
            this.$toast.success(response.data.message);
          });
        },
        (error: any) => {
          const message =
            (error.response && error.response.data.message) ||
            error.message ||
            error.toString();
          this.$toast.error(message);
        }
      )
      .finally(() => {
        this.loading = false;
      });
  }
}
</script>
