<template>
  <v-container class="navbar-container">
    <v-app-bar flat>
      <v-app-bar-nav-icon></v-app-bar-nav-icon>
      <v-toolbar-title>JAM</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-toolbar-items v-if="currentUser()">
        <v-btn text to="/applications">
          Applications
        </v-btn>

        <v-btn text to="/profile">
          Profile
        </v-btn>

        <v-btn text @click="logOut">
          LogOut
        </v-btn>
      </v-toolbar-items>
      <v-toolbar-items v-else>
        <v-btn text to="/register">
          Sign Up
        </v-btn>

        <v-btn text to="/login">
          Login
        </v-btn>
      </v-toolbar-items>
    </v-app-bar>
  </v-container>
</template>

<script>
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Navbar extends Vue {
  currentUser() {
    const user = this.$store.state.auth.user;
    if (
      !user ||
      (Object.keys(user).length === 0 && user.constructor === Object)
    ) {
      this.$store.dispatch("auth/logout");
      return false;
    }
    return user;
  }

  logOut() {
    this.$store.dispatch("auth/logout");
    this.$router.push("/login").catch(() => {
      null;
    });
  }
}
</script>
