<template>
  <v-app>
    <Navbar />
    <v-main>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-main>
  </v-app>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Navbar from "./vues/Layout/Navbar.vue";
import jwt from "jsonwebtoken";

@Component({
  components: {
    Navbar,
  }
})
export default class App extends Vue {

  mounted() {
    const user = this.$store.state.auth.user;
    if (
      !user ||
      (Object.keys(user).length === 0 && user.constructor === Object)
    ) {
      this.logOut();
      return;
    }
	
	if (this.isExpired(user.accessToken)) this.logOut();
  }

  isExpired(token) {
    if (token && jwt.decode(token)) {
      const expiry = jwt.decode(token).exp;
      const now = new Date();
      return now.getTime() > expiry * 1000;
    }
    return false;
  }

  logOut() {
    this.$store.dispatch("auth/logout");
  }
}
</script>
