@import "fonts"
@import "colors"
@import "navbar"
@import "403"
@import "404"

body
	.v-application
		font-family: $tomorrow !important

	.theme--light.v-application, .theme--light.v-app-bar.v-toolbar.v-sheet //to be removed, temporary setting for body and navbar background
		background-color: $colorBackground

		.disable-select
			user-select: none // supported by Chrome and Opera
			-webkit-user-select: none // Safari 
			-khtml-user-select: none // Konqueror HTML
			-moz-user-select: none // Firefox
			-ms-user-select: none // Internet Explorer/Edge
